@import './colors';
@import './dimentions';
@import './mixin';

.gift {
  display: flex;
  padding: $top-default 0 0 0;

  .gift__right {
      padding: $top-default 135px;
      width: 70%;

      background: #d9d7d9;

    .gift__title {
      margin-bottom: 60px;
    }

    .gift_block__link {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 355.21px;
          height: 59px;
          border: 1px solid #A91D20;
          box-sizing: border-box;

          a {
            padding: 0;
            color: $secondary-color;

            @include style-text(21px, 34px, 0.1em);
          }
        }

    .gift__text {
      margin-bottom: 60px;
      color: $dark;

      @include style-text(23px,  37px, unset, 'Open Sans', 300);
    }
  }

  .gift__img {
      padding: 0;

      img {
        @include img-wrap(100%);
      }
    }
}
