@import './colors';
@import './dimentions';
@import './mixin';

.contact {
  padding: 0;

  .block__title {
    padding: 110px 0 68px 0;
  }
  .contact__img {
    overflow-x: auto;
    display: block;
  }

  .contact__row {
    display: flex;
    margin: 0 50px 80px 0;
    flex-wrap: wrap;

    .contact__wrap:last-child {
      margin-right: 0;
    }
    .contact__wrap {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-right: 190px;

      .contact__logo {
        color: #234612;

        @include style-text(64px, 102px,  0.1em);
      }

      .contact__wrap-text {
        color: #151212;

        @include style-text(18px, 29px, unset, 'Open Sans', 300);
      }

      .contact__content {
        .contact__text {
          color: #444444;

          @include style-text(16px, 26px, unset, 'Open Sans', 300);
        }
      }

      .contact__bold {
        font-weight: bold;
        color: #444444;

        @include style-text(18px, 29px, unset, 'Open Sans', 700);
      }
    }
  }
}
