@import './style';

.footer {
  background: $dark;
  margin-top: $top-default;
  position: relative;
  display: block;

  .footer__row {
    padding: 113px 0 0 0;
    display: flex;
    flex-wrap: wrap;

    .footer__img {
      display: block;
    }

    .footer__title {
      padding-top: 18px;
      color: #FFFFFF;

      @include style-text(21px, 34px, 0.1em);
    }

    .footer__block {
      width: 25%;

      .footer__text {
        list-style-type: none;
        padding: 36px 0 0 0;


        .footer__text-li {
          text-decoration: none;
          padding: 0 0 10px 0;

          a {
            color: #FFFFFF;

            @include style-text(20px, 26px, unset, 'Open Sans', 300);
          }
        }
        .footer__text-li:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

