@import './colors';
@import './dimentions';

.footer {
  background: $dark;
  margin-top: $top-default;
  position: relative;
  display: block;

  .footer__div {
    padding: 0;

    .footer__img {
      display: block;
    }

    .footer__row {
      height: 652px;
      display: flex;
      padding-top: 128px;

      .footer__title {
        h5 {
          line-height: 59px;
          color: $white;
          text-transform: uppercase;
        }
      }

      .footer__block:first-child {
        width: 25%;
      }
      .footer__block:nth-child(2) {
        width: 25%;
      }

      .footer__block {
        .footer__text {

          ul {
            margin-top: 30px;
            padding: 0;

            li:first-child {
              margin-top: 0;
            }
            li {
              list-style: none;
              margin-top: 15px;

              a {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
