@import './colors';
@import './dimentions';
@import './mixin';

.footer {
  background: $dark;
  margin-top: $top-default;
  position: relative;
  display: block;

  .footer__row {
    padding-top: 128px;
    display: flex;
    flex-wrap: wrap;

    .footer__img {
      display: block;
    }

    .footer__title {
      color: #FFFFFF;
      padding-top: 10px;

      @include style-text(21px, 34px, 0.1em);
    }

    .footer__block:first-child {
      width: 21%;
    }
    .footer__block:nth-child(2) {
      width: 21%;
    }
    .footer__block:last-child {
      width: 33%;
    }
    .footer__block {

      .footer__text {
        list-style-type: none;
        padding: 36px 0 0 0;


        .footer__text-li {
          text-decoration: none;
          padding: 0 0 10px 0;

          a {
            color: #FFFFFF;

            @include style-text(20px, 26px, unset, 'Open Sans', 300);
          }
        }
        .footer__text-li:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

