@import '../scss/colors.scss';

.header {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .logo {
        margin-right: 100px;
    }
    .header__card {
        display: flex;

        .header__request_phone {
            margin-right: 114px;
        }
    }

    .sidebarIconToggle {
        display: none;

        .spinner {
            height:3px;
            width:100%;
            background-color:#202020;
        }
        .horizontal {
            float: left;
            margin-top: 3px;
        }
        .diagonal.part-2 {
            float: left;
            margin-top: 3px;
        }
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 40px;

            &:first-child {
               margin: 0;
            }

            a {
                h6 {
                    color: $dark;
                    text-transform: uppercase;
                }
            }
        }
    }

    .header__request_phone {
        a {
            h6 {
                color: $secondary-color;
                border-bottom: 1px solid $secondary-color;
                text-transform: uppercase;
            }
        }
    }

}
