@import './colors';

@media (max-width: 539px) and (min-width: 200px) {
  h1 {
    font-size: 25px;
    line-height: 41px;
  }
  h3 {
    font-size: 14px;
    line-height: 24px;
  }
  h4 {
    font-size: 15px !important;
    line-height: 30px;
  }

  h5 {
    width: 200px;
    height: 50px;
  }

  h6 {
    font-size: 14px;
    line-height: 26px;
  }

  .text-1 {
    font-size: 13px;
    line-height: 17px;
  }
  .text-2 {
    font-size: 13px;
    line-height: 23px;
  }

  .text-3 {
    font-size: 15px;
    line-height: 24px;
  }

  .text-4 {
    font-size: 13px;
    line-height: 22px;
  }
  .text-big {
    font-size: 15px;
    line-height: 26px;
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .sales nav ul {
    flex-wrap: wrap;

    li {
      width: 50%;
    }
  }

  .slider.slider .slick-track, .regular.slider .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
  }

  .slider1 .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
  }

  .slider2 .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
  }
  .slider3 .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
  }
  .slider4 .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
  }

  .mob_hidden {
    display: none;
  }

  .menu-container {
    display: block !important;
    margin-left: 10px !important;
  }

  .block__title {
    padding: 30px 0 20px 0 !important;

    h3:after {
      bottom: -5px;
    }
  }

  .fixed-top {
    height: inherit;
    padding: 15px 20px;
    background: white;
    width: 100%;

    .menu-container {
      .menu-list {
        top: 54px;
      }
    }

    .header {
      height: inherit;

      .logo {
        height: 26px;
        margin: 0;
        overflow: hidden;

        img {
          box-sizing: border-box;
          object-fit: cover;
          position: relative;
          display: block;
          height: 100%;
        }
      }

      .header__ul .header__li {
        margin-left: 0;
      }
    }

    .img__basket {
      height: 20px;
    }

    img {
      box-sizing: border-box;
      object-fit: cover;
      position: relative;
      display: block;
      height: 100%;
    }

    .hamburger-menu span:nth-child(1) {
      top: -1px !important;
    }
    .hamburger-menu.open span:nth-child(3) {
      transform: translateY(-9px) rotate(-135deg);
      top: 17px !important;
    }
    .hamburger-menu {
      width: 20px !important;
      height: 10px !important;
      margin: 8px !important;
    }

    span:nth-child(2) {
      top: 5px !important;
    }
    span:nth-child(3) {
      top: 10px !important;
    }

    .header__card {
      .header__request_phone {
        margin-right: 35px !important;
      }
    }
  }

  .flowers__gift_div .block__title {
    padding-top: 10px !important;
  }

  .flowers_div .block__title {
    padding-top: 10px !important;
  }

  .catalog {
    height: 80vh;

    .catalog_block {
      .catalog_block__text {
        margin-top: 0;
      }

      .catalog_block__link {
        margin-top: 15px;

        a {
          width: 296px;
          height: 65px;
        }
      }
    }
  }

  .sales .sales__nav {
    padding-bottom: 20px;

    .sales__ul {
      padding-left: 0;

      .sales__li {
        padding-right: 0;
        text-align: center;
      }
    }
  }

  .sales__div {
    .sales_card {
      padding: 0 0 0 15px;

      .sales_card__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .sales_card__text {
          margin-bottom: 0;

          .sales_card__size {
            display: none;
          }
        }
      }

      .sales_card__title {
        width: 100%;
      }
    }
  }

  .block__title {
    padding: 25px 0 30px 0 !important;

    h3:after {
      bottom: -6px;
    }
  }

  .order {
    .button__link a {
      width: 128px;
    }
    .order__row {
      flex-direction: column;

      .order__div {
        margin-bottom: 10px;
        margin-left: 0;
        margin-top: 25px;
        padding: 14px;

        .order__title br {
          display: none;
        }
        .order__title {
          margin-bottom: 15px;
        }
        .order__inform {
          margin: 20px 0 30px 0;
        }

        .order-text br {
          display: none;
        }
      }
    }

    .order__inform br {
      display: none;
    }
    .order__img {
      height: 50vh;
    }
  }

  .photo_blocks {
    margin-top: 25px !important;

    .photo_blocks__title {
      padding: 35px 0 20px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 100%;
        margin-top: 13px;
        margin-right: 0;
        height: 50vh;
      }
    }
  }

  .mono_bouquets {
    flex-wrap: wrap;
    flex-direction: column-reverse;

    .button__link {
      a {
        width: 125px;
      }
    }

    .mono_bouquets__img {
      width: 100%;
      padding-bottom: 20px;
      height: 50vh;
    }

    .mono_bouquets__text br {
      display: none;
    }
    .mono_bouquets__div {
      width: 100%;
      padding: 15px;

      .mono_bouquets__title {
        margin-bottom: 30px;
      }

      .mono_bouquets__inform {
        margin: 20px 0 30px 0;
        br {
          display: none;
        }
      }
    }
  }

  .gift {
    flex-direction: column-reverse;
    padding-top: 15px !important;

    .gift__right {
      padding: 20px 0 0 0;
      width: 100%;

      .gift__div {

        .gift__title {
          text-align: center;
          margin-bottom: 0;
        }
        .gift_block__link {
          width: 221px;
          height: 50px;
          margin: 0 auto 20px auto;
          text-align: center;

          a {
            font-size: 14px;
            line-height: 11px;
          }
        }

        .gift__text br {
          display: none;
        }
        .gift__text {
          text-align: center;
          margin: 20px auto 25px auto;
          max-width: 300px;
        }
      }
    }
  }

  .go-catalog {
    padding: 15px 0 !important;
  }

  .our {
    .our_blog {
      padding: 0;

      .our_blog__mob-img {
        min-width: 390px;
        height: 40vh;
      }

      .our_blog__img {
        flex-direction: column;
        height: fit-content;

        .our_blog__img-block {
          width: 100%;
          overflow: hidden;

          .our_blog__decorate {
            width: 100%;
            height: 90px;
            position: relative;
          }

          .our_blog__h4 {
            writing-mode: unset;
            transform: unset;
            left: 30px;
            line-height: 100px;
          }
        }

        .our_blog__img-block.active{
          width: 100%;
          flex-direction: column;
          height: calc(100% - 260px);

          .our_blog__div-content {
            display: block;
          }

          .our_blog__decorate {
            bottom: 0;
          }
        }
      }

      .our_blog__div-content {
        display: none;
        opacity: 1;

        .our_blog__div {
          flex-direction: column;

          .our_blog__container {
            padding: 0 15px 25px 15px;
            height: fit-content;

            .our_blog__link {
              margin-top: 20px;

              a {
                width: 174px;
                font-size: 14px;
                line-height: 26px;
              }
            }

            .our_blog__title {
              margin-bottom: 0;

              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .contact {
    .contact__row {
      margin-right: 0;
      flex-wrap: wrap;
      margin-bottom: 0;

      .contact__div {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .contact__div:first-child {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }

  .footer {
    .footer__div {
      .footer__row {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding-left: 20px;
        padding-top: 5px;

        .footer__block {
          .footer__text ul {
            margin-top: 15px;
          }
        }

        div {
          margin-bottom: 0;
        }

        .footer__img {
          img {
            width: 130px;
          }
        }
        .footer__title h5 {
          line-height: 41px;
        }
      }
    }
  }
}

@media (max-width: 578px) and (min-width: 540px) {
  h1 {
    font-size: 34px;
    line-height: 59px;
  }
  h3 {
    font-size: 23px;
    line-height: 46px;
  }
  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 14px;
  }
  .text-2 {
    font-size: 13px;
  }
  .text-3 {
    font-size: 15px;
  }
  .text-4 {
    font-size: 17px;
    line-height: 31px;
  }
  .text-big {
    font-size: 19px;
    line-height: 32px;
  }

  .slider.slider .slick-track, .regular.slider .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
  }

  .slider1 .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
    padding-left: 0 !important;
  }

  .slider2 .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
    padding-left: 0 !important;
  }
  .slider3 .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
    padding-left: 0 !important;
  }
  .slider4 .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
    padding-left: 0 !important;
  }

  .catalog {
    height: 80vh;

    .catalog_block {
      .catalog_block__text {
        margin-top: 15px;
      }

      .catalog_block__link {
        margin-top: 30px;

        a h5 {
          width: 274px;
          height: 48px;
        }
      }
    }
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .header {
    height: inherit;
    padding: 15px 0;

    .logo {
      height: 35px;
      margin: 0;
      overflow: hidden;

      img {
        box-sizing: border-box;
        object-fit: cover;
        position: relative;
        display: block;
        height: 100%;
      }
    }

    .header__card {
      .header__request_phone {
        margin-right: 35px;
      }
    }

    .menu-container {
      display: block;
    }

    .header__ul .header__li {
      margin-right: 40px;
    }
  }

  .flowers_div .block__title {
    padding-top: 40px !important;
  }

  .flowers__gift_div .block__title {
    padding-top: 40px !important;
  }

  .sales .sales__nav {
    padding-bottom: 20px;

    .sales__ul .sales__li {
      padding-right: 20px;
    }
  }
  .sales__div {
    .sales_card {
      padding: 0 0 0 15px;

      .sales_card__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .sales_card__text {
          margin-bottom: 0;

          .sales_card__size {
            display: none;
          }
        }
      }

      .sales_card__title {
        width: 100%;
      }
    }
  }

  .order {
    .button__link a {
      width: 128px;
    }

    .order__row {
      flex-direction: column;

      .order__img {
        height: 50vh;
      }

      .order__div {
        margin-left: 0;
        margin-top: 25px;

        .order__title br {
          display: none;
        }
        .order__title {
          margin-bottom: 3px;
        }
        .order__inform {
          margin: 10px 0 20px 0;
        }
        .order-text br {
          display: none;
        }
      }
    }
  }

  .mob_hidden {
    display: none;
  }

  .photo_blocks {
    .photo_blocks__title {
      padding: 35px 0 20px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 49%;
        margin-top: 13px;
        margin-right: 0;
        height: 50vh;
      }
    }
  }

  .mono_bouquets {
    flex-wrap: wrap;
    flex-direction: column-reverse;

    .button__link {
      a {
        width: 125px;
      }
    }

    .button__link {
      a {
        width: 125px;
      }
    }

    .mono_bouquets__img {
      width: 100%;
      padding-bottom: 20px;
      height: 50vh;
    }
    .mono_bouquets__text br {
      display: none;
    }
    .mono_bouquets__div {
      width: 100%;

      .mono_bouquets__inform {
        margin: 20px 0 30px 0;

        br {
          display: none;
        }
      }

      .mono_bouquets__title {
        margin-bottom: 30px;
      }
    }
  }

  .gift {
    flex-direction: column-reverse;

    .gift__right {
      padding: 20px 0 0 0;
      width: 100%;

      .gift__div {

        .gift__title {
          text-align: center;
          margin-bottom: 0;
        }
        .gift_block__link {
          width: 221px;
          height: 50px;
          margin: 0 auto 20px auto;
          text-align: center;

          a {
            font-size: 14px;
            line-height: 11px;
          }
        }
        .gift__text {
          text-align: center;
          padding-left: 7px;
          margin: 15px auto 25px auto;
          max-width: 400px;
        }
        .gift__text br {
          display: none;
        }
      }
    }
  }

  .gift__row {
    margin-top: 0;

    .gorder__informift__text {
      text-align: center;
    }
  }

  .our {
    .our_blog {
      padding: 0;

      .our_blog__mob-img {
        min-width: 390px;
        height: 40vh;
      }

      .our_blog__img {
        flex-direction: column;
        height: fit-content;

        .our_blog__img-block {
          width: 100%;
          overflow: hidden;

          .our_blog__decorate {
            width: 100%;
            height: 90px;
            position: relative;
          }

          .our_blog__h4 {
            writing-mode: unset;
            transform: unset;
            left: 30px;
            line-height: 100px;
          }
        }
        .our_blog__img-block.active{
          width: 100%;
          flex-direction: column;
          height: calc(100% - 260px);

          .our_blog__div-content {
            display: block;
          }

          .our_blog__decorate {
            bottom: 0;
          }
        }
      }

      .our_blog__div-content {
        display: none;
        opacity: 1;

        .our_blog__div {
          flex-direction: column;

          .our_blog__container {
            padding: 0 0 25px 0;
            height: fit-content;

            .our_blog__link {
              margin-top: 20px;

              a {
                width: 174px;
                font-size: 14px;
              }
            }

            .our_blog__title {
              margin-bottom: 0;

              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .contact {
    .contact__row {
      margin-right: 0;
      flex-wrap: wrap;
      margin-bottom: 0;

      .contact__div {
        width: 50%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .contact__div:first-child {
        width: 50%;
        text-align: center;
      }
    }
  }

  .footer {
    .footer__div {
      .footer__row {
        width: 100%;
        padding-top: 0;

        .footer__block {
          width: 33% !important;

          .footer__text ul {
            margin-top: 15px;
          }
        }

        .footer__img {
          img {
            width: 130px;
          }
        }

        .footer__title h5 {
          line-height: 41px;
        }
      }
    }
  }
}

@media (max-width: 767px) and (min-width: 579px) {

  h1 {
    font-size: 34px;
    line-height: 59px;
  }
  h3 {
    font-size: 23px;
    line-height: 46px;
  }
  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
    line-height: 2;
  }

  .text-1 {
    font-size: 14px;
  }
  .text-2 {
    font-size: 14px;
    line-height: 27px;
  }
  .text-3 {
    font-size: 15px;
  }
  .text-4 {
    font-size: 17px;
    line-height: 31px;
  }
  .text-big {
    font-size: 19px;
    line-height: 32px;
  }

  .header {
    height: inherit;
    padding: 15px 0;

    .menu-container {
      display: block;
    }

    .header__card {
      .header__request_phone {
        margin-right: 35px;
      }
    }

    .logo {
      height: 35px;
      margin: 0;
      overflow: hidden;

      img {
        box-sizing: border-box;
        object-fit: cover;
        position: relative;
        display: block;
        height: 100%;
      }
    }

    .header__ul .header__li {
        margin-right: 40px;
      a {
        font-size: 14px;
        line-height: 2;
      }
    }
  }

  .catalog {
    height: 80vh;

    .catalog_block {
      .catalog_block__text {
        margin-top: 15px;
      }

      .catalog_block__link {
        margin-top: 30px;

        a {
          font-size: 16px;
          line-height: 31px;
          width: 274px;
          height: 48px;
        }
      }
    }
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .flowers_div .block__title {
    padding-top: 40px !important;
  }

  .flowers__gift_div .block__title {
    padding-top: 40px !important;
  }

  .sales .sales__nav {
    padding-bottom: 20px;

    .sales__ul .sales__li {
      padding-right: 20px;
    }
  }

  .sales__div {
    .sales_card {
      padding: 0 0 0 15px;

      .sales_card__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .sales_card__text {
          margin-bottom: 0;

          .sales_card__size {
            display: none;
          }
        }
      }

      .sales_card__title {
        width: 100%;
      }
    }
  }

  .order {
    .button__link a {
      width: 128px;
    }
    .order__row {
      flex-direction: column;

      .order__img {
        height: 50vh;
      }

      .order__div {
        margin-left: 0;
        margin-top: 25px;

        .order__title br {
          display: none;
        }
        .order__title {
          margin-bottom: 3px;
        }
        .order__inform {
          margin: 10px 0 20px 0;
        }
        .order-text br {
          display: none;
        }
      }
    }
  }

  .mob_hidden {
    display: none;
  }

  .photo_blocks {
    .photo_blocks__title {
      padding: 65px 0 60px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 49%;
        margin-top: 12px;
        margin-right: 0;
        height: 50vh;
      }
    }
  }

  .mono_bouquets {
    flex-wrap: wrap;
    flex-direction: column-reverse;

    .button__link {
      a {
        width: 125px;
      }
    }

    .mono_bouquets__img {
      width: 100%;
      padding-bottom: 20px;
      height: 50vh;
    }
    .mono_bouquets__text br {
      display: none;
    }
    .mono_bouquets__div {
      width: 100%;

      .mono_bouquets__inform {
        margin: 20px 0 30px 0;
        br {
          display: none;
        }
      }
      .mono_bouquets__title {
        margin-bottom: 30px;
      }
    }
  }

  .gift {
    flex-direction: column-reverse;

    .gift__right {
      padding: 20px 0 0 0;
      width: 100%;

      .gift__div {

        .gift__title {
          text-align: center;
          margin-bottom: 0;
        }
        .gift_block__link {
          width: 221px;
          height: 50px;
          margin: 0 auto 20px auto;
          text-align: center;

          a {
            font-size: 14px;
            line-height: 11px;
          }
        }
        .gift__text {
          text-align: center;
          padding-left: 7px;
          margin: 15px auto 25px auto;
          max-width: 400px;
        }
        .gift__text br {
          display: none;
        }
      }
    }
  }
  .gift__row {
    margin-top: 0;

    .gorder__informift__text {
      text-align: center;
    }
  }

  .our {
    .our_blog {
      padding: 0;

      .our_blog__mob-img {
        min-width: 390px;
        height: 50vh;
      }

      .our_blog__img {
        flex-direction: column;
        height: fit-content;

        .our_blog__img-block {
          width: 100%;
          overflow: hidden;

          .our_blog__decorate {
            width: 100%;
            height: 90px;
            position: relative;
          }

          .our_blog__h4 {
            writing-mode: unset;
            transform: unset;
            left: 30px;
            line-height: 100px;
          }
        }
        .our_blog__img-block.active{
          width: 100%;
          flex-direction: column;
          height: calc(100% - 260px);

          .our_blog__div-content {
            display: block;
          }

          .our_blog__decorate {
            bottom: 0;
          }
        }
      }

      .our_blog__div-content {
        display: none;
        opacity: 1;

        .our_blog__div {
          flex-direction: column;

          .our_blog__container {
            padding: 0 0 25px 0;
            height: fit-content;

            .our_blog__link {
              margin-top: 20px;
              a {
                font-size: 14px;
                width: 174px;
              }
            }

            .our_blog__title {
              margin-bottom: 5px;

              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .contact {
    .contact__row {
      margin-right: 0;
      flex-wrap: wrap;
      margin-bottom: 0;

      .contact__div {
        width: 50%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .contact__div:first-child {
        width: 50%;
        text-align: center;
      }
    }
  }


  .footer {
    .footer__div {
      .footer__row {
        width: 100%;
        padding-top: 0;
        justify-content: space-between;

        .text-3 {
          font-size: 17px;
        }

        .footer__block {
          width: unset !important;

          .footer__text ul {
            margin-top: 15px;
          }

          .footer__title h5 {
            line-height: 41px;
          }
        }

        .footer__img {
          img {
            width: 130px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-size: 44px;
    line-height: 68px;
  }
  h3 {
    font-size: 23px;
    line-height: 46px;
  }
  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 14px;
  }
  .text-2 {
    font-size: 14px;
  }
  .text-4 {
    font-size: 17px;
    line-height: 31px;
  }
  .text-3 {
    font-size: 15px;
  }
  .text-big {
    font-size: 22px;
    line-height: 37px;
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .mob_hidden {
    display: none;
  }

  .header {
    height: inherit;
    padding: 15px 0;

    .logo {
      height: 37px;
      margin: 0;
      overflow: hidden;

      img {
        box-sizing: border-box;
        object-fit: cover;
        position: relative;
        display: block;
        height: 100%;
      }
    }

    .header__card {
      .header__request_phone {
        margin-right: 35px;
      }
    }

    .menu-container {
      display: block;
    }

    .header__ul .header__li {
      margin-right: 60px;

      a {
        font-size: 14px;
        line-height: 2;
      }
    }
  }

  .catalog .catalog_block {
    .catalog_block__text {
      margin-top: 20px;
    }

    .catalog_block__link a {
      font-size: 16px;
      line-height: 31px;
      width: 274px;
      height: 48px;
    }
  }

  .sales__nav {
    padding-bottom: 35px !important;
  }

  .order {
    .button__link a {
      width: 128px;
    }
    .order__row {
      flex-direction: column;

      .order__div {
        margin-bottom: 50px;
        margin-left: 0;
        margin-top: 50px;

        .order__title {
          margin-bottom: 30px;

          br {
            display: none;
          }
        }
        .order__inform {
          margin: 20px 0 30px 0;
        }

        .order-text br {
          display: none;
        }
      }

      .order__img {
        height: 79vh;
      }
    }
  }

  .our {
    .our_blog {
      padding: 0;

      .our_blog__mob-img {
        min-width: 390px;
        height: 50vh;
      }

      .our_blog__img {
        flex-direction: column;
        height: fit-content;

        .our_blog__img-block {
          width: 100%;
          overflow: hidden;

          .our_blog__decorate {
            width: 100%;
            height: 90px;
            position: relative;
          }

          .our_blog__h4 {
            writing-mode: unset;
            transform: unset;
            left: 30px;
            line-height: 100px;
          }
        }
        .our_blog__img-block.active{
          width: 100%;
          flex-direction: column;
          height: calc(100% - 260px);

          .our_blog__div-content {
            display: block;
          }

          .our_blog__decorate {
            bottom: 0;
          }
        }
      }

      .our_blog__div-content {
        display: none;
        opacity: 1;

        .our_blog__div {
          flex-direction: column;

          .our_blog__container {
            padding: 0 0 25px 0;
            height: fit-content;

            .our_blog__link {
              margin-top: 20px;

              a {
                width: 174px;
                font-size: 14px;
              }
            }

            .our_blog__title {
              margin-bottom: 10px;

              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .photo_blocks {
    .photo_blocks__title {
      padding: 65px 0 60px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 32.6%;
        margin-top: 13px;
        margin-right: 0;
      }
    }
  }

  .mono_bouquets {
    flex-wrap: wrap;
    flex-direction: column-reverse;

    .button__link {
      a {
        width: 125px;
      }
    }

    .mono_bouquets__img {
      width: 100%;
      padding-bottom: 20px;
      height: 79vh;
    }
    .mono_bouquets__text br {
      display: none;
    }
    .mono_bouquets__div {
      width: 100%;

      .mono_bouquets__inform {
        margin: 20px 0 30px 0;
        br {
          display: none;
        }
      }
      .mono_bouquets__title {
        margin-bottom: 30px;
      }
    }
  }

  .gift {
    flex-direction: column-reverse;

    .gift__right {
      padding: 20px 0 0 0;
      width: 100%;

      .gift__div {

        .gift__text {
          margin: 20px auto 30px auto;
          max-width: 500px;
        }
        .gift_block__link {
          width: 281.21px;
          height: 55px;
          margin: 0 auto 30px auto;
          text-align: center;

          a {
            font-size: 15px;
            line-height: 25px;
          }
        }
        .gift__title {
          margin-bottom: 0;
        }
      }

      .gift__text br {
        display: none;
      }
    }
  }

  .gift__row {
    margin-top: 0;

    .gift__title {
      text-align: center;
    }
    .gift__text {
      text-align: center;
      padding: 0 50px;
    }
  }

  .contact {
    .contact__row {
      margin-right: 0;
      flex-wrap: wrap;
      margin-bottom: 0;

      .contact__div {
        width: 50%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .contact__div:first-child {
        width: 50%;
        text-align: center;
      }
    }
  }

body {
  background: #6c757d;
}
  .footer {

    .footer__div {
      .footer__row {
        width: 100%;
        padding-top: 0;

        .text-3 {
          font-size: 17px;
        }

        .footer__block {
          .footer__text ul {
            margin-top: 15px;
          }

        }

        .footer__img {
          img {
            width: 130px;
          }
        }
        .footer__title h5 {
          line-height: 41px;
        }
      }
    }
  }
}

@media (max-width: 1199px) and (min-width: 992px) {

  h1 {
    font-size: 46px;
    line-height: 71px;
  }
  h3 {
    font-size: 23px;
    line-height: 46px;
  }
  h4 {
    font-size: 17px;
    line-height: 37px;
  }

  h5 {
    font-size: 16px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 12px;
    line-height: 23px;
  }
  .text-2 {
    font-size: 14px;
  }

  .text-3 {
    font-size: 13px;
    line-height: 26px;
  }
  .text-4 {
    font-size: 17px;
    line-height: 31px;
  }
  .text-big {
    font-size: 22px;
    line-height: 37px;
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .header {
    height: 80px;

    .logo {
      margin: 0;
      height: 45px;
      overflow: hidden;

      img {
        box-sizing: border-box;
        object-fit: cover;
        display: block;
        height: 100%;
      }
    }

    .header__card {
      .header__request_phone {
        margin-right: 35px;
      }
    }
  }

  .catalog .catalog_block {
    .catalog_block__text {
      margin-top: 30px;
    }

    .catalog_block__link a {
      font-size: 16px;
      line-height: 31px;
      width: 274px;
      height: 48px;
    }
  }

  .block__title {
    padding: 60px 0 50px 0;
  }

  .our {
    padding: 0;

    .our_blog {
      .our_blog__div-content .our_blog__div {

        .our_blog__container {
          padding: 30px;
          height: unset;

          .our_blog__link {
            margin-top: 20px;
            a {
              width: 172px;
            }
          }

          .our_blog__title {
            margin-bottom: 25px;
          }
        }
      }

      .our_blog__img {
        height: 450px;

        .our_blog__img-block.active {
          width: calc(100% - -157px);
        }

        .our_blog__img-block {
          .our_blog__decorate {
            width: 113px;
          }

          .our_blog__h4 {
            line-height: 129px;
            font-size: 23px;
          }
        }
      }

      .our_blog__mob-img {
        height: 450px;
        min-width: 250px;
      }
    }

    .block__title {
      padding: 90px 0 60px 0;
    }
  }

  .order {
    .button__link a {
      width: 128px;
    }
    .order__row {
      .order__div {
        margin-bottom: 50px;
        margin-left: 100px;
        margin-top: 50px;

        .order__title br {
          display: none;
        }
        .order__title {
          margin-bottom: 40px;
        }
        .order__inform {
          margin: 20px 0 30px 0;
        }
        .order-text br {
          display: none;
        }
      }
    }
  }

  .sales__nav {
    padding-bottom: 40px !important;
  }
  .photo_blocks {
    .photo_blocks__title {
      padding: 65px 0 60px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 32.6%;
        margin-top: 13px;
        margin-right: 0;
      }
    }
  }

  .gift {
    .gift__right {
      padding: 60px 0 60px 80px;

      .gift__div {
        .gift__title {
          margin-bottom: 15px;
        }
        .gift__text {
          margin-bottom: 20px;
          br {
            display: none;
          }
        }
        .gift_block__link {
          width: 281.21px;
          height: 55px;

          a {
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }
  }

  .mono_bouquets {
    .button__link {
      a {
        width: 128px;
      }
    }
    .mono_bouquets__div {
      padding-right: 25px;

      .mono_bouquets__inform {
        margin: 20px 0 30px 0;
      }

      .mono_bouquets__title {
        margin-bottom: 30px;
      }
    }

    .mono_bouquets__text p br {
      display: none;
    }
    .mono_bouquets__inform p {
      br {
        display: none;
      }
    }
  }

  .contact__img {
    overflow: hidden;

    img {
      box-sizing: border-box;
      object-fit: cover;
      width: 100%;
      position: relative;
      display: block;
      height: 100%;
    }
  }

  .footer {
    .footer__div {
      .footer__row {
        width: 100%;
        padding-top: 25px;

        .footer__block {
          .footer__text ul {
            margin-top: 10px;
          }
        }

        .text-3 {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1299px) and (min-width: 1200px) {
  h1 {
    font-size: 50px;
    line-height: 73px;
  }
  h3 {
    font-size: 23px;
    line-height: 46px;
  }
  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 19px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }
  .text-1 {
    font-size: 14px;
  }
  .text-2 {
    font-size: 16px;
  }
  .text-3 {
    font-size: 16px;
  }
  .text-4 {
    font-size: 18px;
    line-height: 30px;
  }
  .text-big {
    font-size: 24px;
    line-height: 38px;
  }

  .button__link a {
    font-size: 18px;
    line-height: 30px;
    padding: 9px 30px;
  }

  .header {
    height: 80px;

    .logo {
      margin: 0;
      height: 45px;
      overflow: hidden;

      img {
        box-sizing: border-box;
        object-fit: cover;
        display: block;
        height: 100%;
      }
    }
  }

  .catalog .catalog_block {
    .catalog_block__text {
      margin-top: 30px;
    }

    .catalog_block__link a h5 {
      width: 317px;
      height: 53px;
    }
  }

  .block__title {
    padding: 60px 0 50px 0;
  }

  .our {
    padding: 0;

    .our_blog {
      .our_blog__div-content .our_blog__div {

        .our_blog__container {
          padding: 50px;
          height: unset;

          .our_blog__link {
              margin-top: 20px;
            a {
              font-size: 14px;
              width: 172px;
            }
          }

          .our_blog__title {
            margin-bottom: 25px;
          }
        }
      }

      .our_blog__img {
        height: 540px;

        .our_blog__img-block.active {
          width: calc(100% - -157px);
        }

        .our_blog__img-block {
          .our_blog__decorate {
            width: 113px;
          }

          .our_blog__h4 {
            line-height: 129px;
            font-size: 23px;
          }
        }
      }

      .our_blog__mob-img {
        height: 540px;
        min-width: 290px;
      }
    }

    .block__title {
      padding: 90px 0 60px 0;
    }
  }

  .mono_bouquets {
    .mono_bouquets__div {
      padding-right: 30px;

      .mono_bouquets__title {
        margin-bottom: 20px;
      }

    }
    .button__link {
      a {
        width: 166px;
      }
    }
  }

  .order {
    .order__row {
      .button__link a {
        width: 173px;
      }
      .order-text br {
        display: none;
      }
      .order__inform br {
        display: none;
      }
      .order__div {
        margin-bottom: 50px;
        margin-left: 50px;
        margin-top: 50px;
        max-width: 52%;

        .order__title br {
          display: none;
        }

        .order__title {
          margin-bottom: 40px;
        }
      }
    }
  }


  .sales .sales__nav {
    padding-bottom: 45px;
  }

  .photo_blocks {
    .photo_blocks__title {
      padding: 80px 0 80px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 32.6%;
        margin-top: 13px;
        margin-right: 0;
      }
    }
  }

  .gift .gift__right {
    padding: 70px 0 70px 110px;

    .gift__div {
      .gift_block__link {
        width: 281.21px;
        height: 55px;

        a {
          font-size: 15px;
          line-height: 25px;
        }
      }

      .gift__text br {
        display: none;
      }

      .gift__text {
        margin-bottom: 50px;
      }
      .gift__title {
        margin-bottom: 30px;
      }
    }
  }

  .contact__img {
    overflow: hidden;

    img {
      box-sizing: border-box;
      object-fit: cover;
      width: 100%;
      position: relative;
      display: block;
      height: 100%;
    }
  }

  .footer {
    .footer__div {
      .footer__row {
        width: 100%;
        padding-top: 40px;

        .footer__block {
          .footer__text ul {
            margin-top: 10px;
          }
        }

        .text-3 {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1499px) and (min-width: 1300px) {
  h1 {
    font-size: 51px;
    line-height: 75px;
  }

  h3 {
    font-size: 25px;
    line-height: 46px;
  }
  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 19px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }
  .text-1 {
    font-size: 14px;
  }
  .text-2 {
    font-size: 16px;
  }
  .text-4 {
    font-size: 21px;
    line-height: 32px;
  }
  .text-big {
    font-size: 24px;
    line-height: 38px;
  }

  .button__link a {
    font-size: 18px;
    line-height: 30px;
    padding: 9px 30px;
  }

  .header {
    height: 80px;

    .logo {
      margin: 0;
      height: 45px;
      overflow: hidden;

      img {
        box-sizing: border-box;
        object-fit: cover;
        display: block;
        height: 100%;
      }
    }
  }

  .catalog .catalog_block {
    .catalog_block__text {
      margin-top: 35px;
    }

    .catalog_block__link a h5 {
      width: 324px;
      height: 53px;
    }
  }

  .mono_bouquets {
    .mono_bouquets__div .mono_bouquets__title {
      margin-bottom: 30px;
    }
    .button__link a {
      width: 166px;
    }
  }

  .order {
    .button__link a {
      width: 173px;
    }

    .order__row {
      .order__div {
        margin-bottom: 50px;
        margin-left: 70px;
        margin-top: 50px;
        max-width: 52%;

       .order-text br {
          display: none;
        }

        .order__title {
          margin-bottom: 40px;
        }
      }
    }
  }

  .sales__nav {
    padding-bottom: 50px !important;
  }

  .our {
    padding: 0;

    .our_blog {
      .our_blog__div-content .our_blog__div {

        .our_blog__container {
          padding: 50px;
          height: unset;

          .our_blog__link a {
            width: 172px;
            font-size: 14px;
          }

          .our_blog__title {
            margin-bottom: 25px;
          }
        }
      }

      .our_blog__img {
        height: 540px;

        .our_blog__img-block.active {
          width: calc(100% - -157px);
        }

        .our_blog__img-block {
          .our_blog__decorate {
            width: 113px;
          }

          .our_blog__h4 {
            line-height: 129px;
            font-size: 23px;
          }
        }
      }

      .our_blog__mob-img {
        height: 540px;
      }
    }

    .block__title {
      padding: 90px 0 60px 0;
    }
  }

  .photo_blocks {
    .photo_blocks__title {
      padding: 90px 0 90px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 32.6%;
        margin-top: 13px;
        margin-right: 0;
      }
    }
  }


  .catalog_block__link h5 a {
    width: 317px !important;
    height: 53px !important;
  }

  .gift .gift__right .gift__div {
    .gift__text {
      margin-bottom: 50px;
    }

    .gift__title {
      margin-bottom: 30px;
    }
  }


  .gift__row {
    .gift_block__link {
      width: 281.21px !important;
      height: 55px !important;

      a {
        font-size: 18px !important;
        line-height: 30px !important;
      }
    }
    .gift__text br {
      display: none;
    }
  }

  .contact__img {
    overflow: hidden;
    img {
      box-sizing: border-box;
      object-fit: cover;
      width: 100%;
      position: relative;
      display: block;
      height: 100%;
    }
  }

  .footer {
    .footer__div {
      .footer__row {
        width: 100%;
        padding-top: 50px;

        .footer__block {
          .footer__text ul {
            margin-top: 10px;
          }
        }

        .text-3 {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1604.99px) and (min-width: 1500px) {
  h1 {
    font-size: 52px;
    line-height: 84px;
  }
  h3 {
    font-size: 25px;
    line-height: 50px;
  }
  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 19px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 14px;
  }
  .text-2 {
    font-size: 15px;
  }
  .text-4 {
    font-size: 19px;
    line-height: 32px;
  }
  .text-big {
    font-size: 22px;
    line-height: 35px;
  }

  .header {
    height: 80px;

    .logo {
      margin: 0;
      height: 45px;
      overflow: hidden;

      img {
        box-sizing: border-box;
        object-fit: cover;
        display: block;
        height: 100%;
      }
    }
  }

  .our {
    padding: 0;

    .our_blog {
      .our_blog__div-content .our_blog__div {

        .our_blog__container {
          padding: 50px;
          height: unset;

          .our_blog__link a h6 {
            width: 172px !important;
            font-size: 14px !important;
          }

          .our_blog__title {
            margin-bottom: 25px;
          }
        }
      }

      .our_blog__img {
        height: 540px;

        .our_blog__img-block.active {
          width: calc(100% - -157px);
        }

        .our_blog__img-block {
          .our_blog__decorate {
            width: 113px;
          }

          .our_blog__h4 {
            line-height: 130px;
          }
        }
      }

      .our_blog__mob-img {
        height: 540px;
      }
    }

    .block__title {
      padding: 90px 0 60px 0;
    }
  }


 .sales .sales__nav {
    padding-bottom: 55px;
  }

  .gift .gift__right .gift__div {
    .gift__text {
      margin-bottom: 50px;
    }

    .gift__title {
      margin-bottom: 30px;
    }
  }

  .photo_blocks {
    .photo_blocks__title {
      padding: 100px 0 100px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 32.6%;
        margin-top: 13px;
        margin-right: 0;
      }
    }
  }

  .mono_bouquets {
    .mono_bouquets__div .mono_bouquets__title {
      margin-bottom: 20px;
    }
  }

  .order .order__row .order__div {
    margin-left: 100px;
    .order__title {
      margin-bottom: 40px;
    }
  }

  .gift__text br {
    display: none;
  }
  .catalog {
    .catalog_block {

      .catalog_block__text {
        margin-top: 25px;
      }

      .catalog_block__link a {
        font-size: 19px;
        line-height: 31px;
        width: 326px;
        height: 63px;
      }
    }
  }

  .contact__img {
    overflow: hidden;

    img {
      box-sizing: border-box;
      object-fit: cover;
      width: 100%;
      position: relative;
      display: block;
      height: 100%;
    }
  }

  .footer {
    .footer__div {
      .footer__row {
        width: 100%;
        padding-top: 60px;

        .footer__block {
          .footer__text ul {
            margin-top: 20px;
          }
        }

        .text-3 {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1639px) and (min-width: 1605px) {
  h3 {
    font-size: 29px;
    line-height: 51px;
  }
  .text-4 {
    font-size: 21px;

  }
  .text-2 {
    font-size: 17px;
  }

  .header {
    .logo {
      margin: 0;
      height: 45px;
      overflow: hidden;

      img {
        box-sizing: border-box;
        object-fit: cover;
        display: block;
        height: 100%;
      }
    }
  }

  .our .our_blog {
    .our_blog__div-content .our_blog__div .our_blog__container {
      padding: 90px 90px 90px 80px;
    }
  }
  .order .order__row .order__div .order__title {
    margin-bottom: 40px;
  }

  .mono_bouquets {
    .mono_bouquets__div .mono_bouquets__title {
      margin-bottom: 20px;
    }
  }
  .photo_blocks {
    .photo_blocks__title {
      padding: 100px 0 100px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 32.6%;
        margin-top: 13px;
        margin-right: 0;
      }
    }
  }

  .footer {
    .footer__div {
      .footer__row {
        width: 100%;
        padding-top: 60px;

        .footer__block {
          .footer__text ul {
            margin-top: 20px;
          }
        }

        .text-3 {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1919px) and (min-width: 1640px) {
  h3 {
    font-size: 37px;
  }

  .photo_blocks {
    .photo_blocks__title {
      padding: 100px 0 100px 0;
    }
    .photo_blocks__div {
      height: auto;
      flex-flow: wrap;
      justify-content: space-between;

      .photo_blocks__img {
        width: 32.6%;
        margin-top: 13px;
        margin-right: 0;
      }
    }
  }
}
