@media (max-width: 539px) and (min-width: 200px) {
  h1 {
    font-size: 25px;
    line-height: 41px;
  }

  h3 {
    font-size: 14px;
    line-height: 24px;
  }

  h4 {
    font-size: 15px !important;
    line-height: 30px;
  }

  h5 {
    font-size: 14px;
    line-height: 18px;
  }

  h6 {
    font-size: 14px;
    line-height: 26px;
  }

  .text-1 {
    font-size: 13px;
    line-height: 17px;
  }

  .text-2 {
    font-size: 13px;
    line-height: 23px;
  }

  .text-3 {
    font-size: 15px;
    line-height: 24px;
  }

  .text-4 {
    font-size: 13px;
    line-height: 22px;
  }

  .text-big {
    font-size: 15px;
    line-height: 26px;
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .sales nav ul {
    flex-wrap: wrap;
  }
  .sales nav ul li {
    width: 50%;
  }

  .slider.slider .slick-track, .regular.slider .slick-list, .sub-category.slider .slick-track, .sub-category.slider .slick-list {
    margin: 0 0 0 -50px !important;
  }

  .mob_hidden {
    display: none;
  }

  .menu-container {
    display: block !important;
    margin-left: 10px !important;
  }

  .block__title {
    padding: 30px 0 20px 0 !important;
  }

  .header {
    height: inherit;
    padding: 15px 20px;
    position: fixed;
    z-index: 999;
    background: white;
    width: 100%;
  }
  .header .menu-container .menu-list {
    top: 54px;
  }
  .header .header__li {
    margin-left: 0 !important;
  }
  .header .img__basket {
    height: 20px;
  }
  .header img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
    display: block;
    height: 100%;
  }
  .header .hamburger-menu span:nth-child(1) {
    top: -1px !important;
  }
  .header .hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
    top: 17px !important;
  }
  .header .hamburger-menu {
    width: 20px !important;
    height: 10px !important;
    margin: 8px !important;
  }
  .header span:nth-child(2) {
    top: 5px !important;
  }
  .header span:nth-child(3) {
    top: 10px !important;
  }
  .header .header__request_phone {
    margin-right: 35px !important;
  }
  .header .logo {
    height: 26px;
    margin: 0;
  }
  .header .logo img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
    display: block;
    height: 100%;
  }

  .flowers__gift_div .block__title {
    padding-top: 10px !important;
  }

  .flowers_div .block__title {
    padding-top: 10px !important;
  }

  .catalog {
    height: 80vh;
  }
  .catalog .catalog_block .catalog_block__text {
    margin-top: 0px;
  }
  .catalog .catalog_block .catalog_block__link {
    margin-top: 15px;
  }
  .catalog .catalog_block .catalog_block__link a h5 {
    width: 190px;
    height: 35px;
  }

  .sales nav {
    padding-bottom: 20px !important;
  }
  .sales nav ul {
    padding-left: 0;
  }
  .sales nav ul li {
    padding-right: 0 !important;
    text-align: center;
  }

  .sales_card {
    padding: 0 0 0 15px !important;
  }
  .sales_card .sales_card__size {
    display: none !important;
  }
  .sales_card .sales_card__title {
    width: 100%;
  }
  .sales_card .sales_card__text {
    margin-bottom: 0 !important;
  }
  .sales_card .sales_card__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .block__title {
    padding: 25px 0 30px 0 !important;
  }

  .our {
    margin-top: 25px !important;
    padding: 0;
  }
  .our .our_blog__title br {
    display: none;
  }
  .our .our_blog__title h4 {
    font-size: 20px;
  }
  .our .our_blog__img {
    width: 100%;
  }
  .our .our_blog__h4 {
    font-size: 19px;
    line-height: 20px;
  }
  .our .our_blog__link {
    margin-top: 30px !important;
  }
  .our .our_blog__title {
    margin-bottom: 0 !important;
  }
  .our .our_blog__row {
    flex-direction: column;
  }
  .our .our_blog__row .our_blog__div {
    flex-direction: column;
  }
  .our .our_blog__row .our_blog__div .our_blog__mob-img {
    padding-bottom: 20px;
    height: 50vh;
    min-width: 100%;
  }
  .our .our_blog__row .our_blog__div .our_blog__container {
    padding: 0 15px !important;
  }
  .our .our_blog__row .our_blog__div .our_blog__container br {
    display: none !important;
  }
  .our .our_blog__row .our_blog__img {
    flex-direction: column;
    margin-top: 30px;
  }
  .our .our_blog__row .our_blog__img .our_blog__img-block {
    height: 77px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    align-items: center !important;
  }
  .our .our_blog__row .our_blog__img .our_blog__img-block h4 {
    writing-mode: lr !important;
    transform: inherit !important;
    bottom: inherit !important;
    left: 40px;
  }

  .order .order__row {
    flex-direction: column;
  }
  .order .order__inform br {
    display: none;
  }
  .order .order__img {
    height: 50vh;
  }
  .order .order__div {
    margin-bottom: 10px;
    margin-left: 0 !important;
    margin-top: 25px;
    padding: 14px !important;
  }
  .order .order__div .order__title br {
    display: none;
  }
  .order .order__div .order__title {
    margin-bottom: 15px !important;
  }
  .order .order__div .order__inform {
    margin: 20px 0 30px 0 !important;
  }
  .order .order__div .order-text br {
    display: none;
  }

  .slider-button {
    top: 30% !important;
  }

  .photo_blocks {
    margin-top: 25px !important;
  }
  .photo_blocks .photo_blocks__div {
    height: auto;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .photo_blocks .photo_blocks__div .photo_blocks__img {
    width: 100%;
    margin-top: 15px;
    margin-right: 0;
    height: 50vh;
  }

  .mono_bouquets {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .mono_bouquets .mono_bouquets__img {
    width: 100%;
    padding-bottom: 20px;
    height: 50vh;
  }
  .mono_bouquets .mono_bouquets__text br {
    display: none;
  }
  .mono_bouquets .mono_bouquets__div {
    width: 100%;
    padding: 15px;
  }
  .mono_bouquets .mono_bouquets__inform {
    margin: 20px 0 30px 0 !important;
  }
  .mono_bouquets .mono_bouquets__inform br {
    display: none;
  }
  .mono_bouquets .mono_bouquets__title {
    margin-bottom: 30px !important;
  }

  .gift {
    flex-direction: column-reverse;
    padding-top: 15px !important;
  }

  .gift__row {
    margin-top: 0 !important;
  }
  .gift__row .gift__title {
    text-align: center;
    margin-bottom: 15px !important;
  }
  .gift__row .gift__right {
    padding: 20px 0 0 0 !important;
    width: 100% !important;
  }
  .gift__row .gift__right .gift_block__link {
    width: 221px !important;
    height: 50px !important;
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .gift__row .gift__right .gift_block__link a {
    font-size: 14px !important;
    line-height: 11px !important;
  }
  .gift__row .gift__right .gift__text br {
    display: none;
  }
  .gift__row .gift__right .gift__text {
    text-align: center;
    margin: 20px 20px 25px 20px !important;
  }

  .go-catalog {
    padding: 15px 0 !important;
  }

  .contact__row {
    margin-right: 0 !important;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
  }
  .contact__row .contact__div {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__row .block__title {
    padding: 25px 0 25px 0 !important;
  }
  .contact__row .contact__work {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .footer .footer__row {
    width: 100% !important;
    flex-direction: column;
    height: auto !important;
    padding-left: 20px;
  }
  .footer .footer__row div {
    margin-bottom: 20px;
  }
  .footer .footer__row .footer__block {
    max-width: inherit !important;
    max-height: inherit !important;
  }
  .footer .footer__row .footer__text ul {
    margin-top: 15px !important;
  }
  .footer .footer__row .footer__img {
    height: 35px;
  }
  .footer .footer__row .footer__img img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
    display: block;
    height: 100%;
  }
  .footer .footer__row .footer__title h5 {
    line-height: 41px !important;
  }
}
@media (max-width: 767px) and (min-width: 540px) {
  h1 {
    font-size: 34px;
    line-height: 59px;
  }

  h3 {
    font-size: 23px;
    line-height: 46px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 14px;
  }

  .text-2 {
    font-size: 14px;
  }

  .text-3 {
    font-size: 15px;
  }

  .text-4 {
    font-size: 17px;
    line-height: 31px;
  }

  .text-big {
    font-size: 19px;
    line-height: 32px;
  }

  .catalog_block__link a h5 {
    width: 274px !important;
    height: 48px !important;
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .header {
    height: inherit;
    padding: 15px 0;
  }
  .header .header__request_phone {
    margin-right: 35px !important;
  }
  .header .logo {
    height: 35px;
    margin: 0;
  }
  .header .logo img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
    display: block;
    height: 100%;
  }
  .header .header__li {
    margin-right: 40px;
  }

  .flowers_div .block__title {
    padding-top: 40px !important;
  }

  .flowers__gift_div .block__title {
    padding-top: 40px !important;
  }

  .sales .sales__nav {
    padding-bottom: 20px !important;
  }
  .sales .sales__li {
    padding-right: 20px !important;
  }

  .order .order__row {
    flex-direction: column;
  }
  .order .order__row .order__img {
    height: 50vh;
  }
  .order .order__row .order__div {
    margin-left: 0;
    margin-top: 25px;
  }
  .order .order__row .order__div .order__title br {
    display: none;
  }
  .order .order__row .order__div .order__title {
    margin-bottom: 3px;
  }
  .order .order__row .order__div .order__inform {
    margin: 10px 0 20px 0;
  }
  .order .order__row .order__div .order-text br {
    display: none;
  }

  .mob_hidden {
    display: none;
  }

  .menu-container {
    display: block !important;
  }

  .slider-button {
    top: 30% !important;
  }

  .photo_blocks__div {
    height: auto !important;
    flex-flow: wrap !important;
    justify-content: space-between;
  }
  .photo_blocks__div .photo_blocks__img {
    width: 49% !important;
    margin-top: 15px;
    margin-right: 0 !important;
  }

  .mono_bouquets {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .mono_bouquets .mono_bouquets__img {
    width: 100%;
    padding-bottom: 20px;
    height: 50vh;
  }
  .mono_bouquets .mono_bouquets__text br {
    display: none;
  }
  .mono_bouquets .mono_bouquets__div {
    width: 100%;
  }
  .mono_bouquets .mono_bouquets__inform {
    margin: 20px 0 30px 0 !important;
  }
  .mono_bouquets .mono_bouquets__inform br {
    display: none;
  }
  .mono_bouquets .mono_bouquets__title {
    margin-bottom: 30px !important;
  }

  .gift {
    flex-direction: column-reverse;
  }

  .gift__row {
    margin-top: 0 !important;
  }
  .gift__row .gift__title {
    text-align: center;
    margin-bottom: 15px !important;
  }
  .gift__row .gorder__informift__text {
    text-align: center;
  }
  .gift__row .gift__right {
    padding: 20px 0 0 0 !important;
    width: 100% !important;
  }
  .gift__row .gift__right .gift_block__link {
    width: 221px !important;
    height: 50px !important;
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .gift__row .gift__right .gift_block__link a {
    font-size: 14px !important;
    line-height: 11px !important;
  }
  .gift__row .gift__right .gift__text {
    text-align: center;
    padding-left: 7px;
    margin: 15px 0 30px 0 !important;
  }
  .gift__row .gift__right .gift__text br {
    display: none;
  }

  .our {
    padding: 0;
  }
  .our .our_blog__title {
    margin-bottom: 20px !important;
  }
  .our .our_blog__title br {
    display: none;
  }
  .our .our_blog__title h4 {
    font-size: 20px;
  }
  .our .our_blog__container br {
    display: none !important;
  }
  .our .our_blog__row {
    flex-direction: column;
  }
  .our .our_blog__row .our_blog__div {
    flex-direction: column;
  }
  .our .our_blog__row .our_blog__div .our_blog__mob-img {
    padding-bottom: 20px;
    height: 50vh;
    min-width: 100%;
  }
  .our .our_blog__row .our_blog__div .our_blog__container {
    padding: 0 !important;
  }
  .our .our_blog__row .our_blog__img {
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
  }
  .our .our_blog__row .our_blog__img .our_blog__img-block {
    height: 77px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    align-items: center !important;
  }
  .our .our_blog__row .our_blog__img .our_blog__img-block h4 {
    writing-mode: lr !important;
    transform: inherit !important;
    bottom: inherit !important;
    left: 40px;
  }
  .our .our_blog__h4 {
    font-size: 19px;
    line-height: 20px;
  }
  .our .our_blog__link {
    margin-top: 30px !important;
  }

  .contact__row {
    margin-right: 0 !important;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
  }
  .contact__row .contact__div {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__row .contact__work {
    width: 50%;
    text-align: center;
  }

  .footer .footer__row {
    width: 100% !important;
  }
  .footer .footer__row .footer__text ul {
    margin-top: 15px !important;
  }
  .footer .footer__row .footer__img {
    height: 35px;
  }
  .footer .footer__row .footer__img img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
    display: block;
    height: 100%;
  }
  .footer .footer__row .footer__title h5 {
    line-height: 41px !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-size: 44px;
    line-height: 78px;
  }

  h3 {
    font-size: 23px;
    line-height: 46px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 14px;
  }

  .text-2 {
    font-size: 14px;
  }

  .text-4 {
    font-size: 17px;
    line-height: 31px;
  }

  .text-3 {
    font-size: 15px;
  }

  .text-big {
    font-size: 22px;
    line-height: 37px;
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .catalog_block__link a h5 {
    width: 274px !important;
    height: 48px !important;
  }

  .mob_hidden {
    display: none;
  }

  .header {
    height: inherit;
    padding: 15px 0;
  }
  .header .header__request_phone {
    margin-right: 35px !important;
  }
  .header .logo {
    height: 35px;
    margin: 0;
  }
  .header .logo img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
    display: block;
    height: 100%;
  }
  .header .header__li {
    margin-right: 60px;
  }

  .menu-container {
    display: block !important;
  }

  .sales__nav {
    padding-bottom: 35px !important;
  }

  .order__row {
    flex-direction: column;
  }

  .order__div {
    margin-bottom: 50px;
    margin-left: 0 !important;
    margin-top: 50px;
  }
  .order__div .order__title br {
    display: none;
  }
  .order__div .order__title {
    margin-bottom: 30px !important;
  }
  .order__div .order__inform {
    margin: 20px 0 30px 0 !important;
  }
  .order__div .order-text br {
    display: none;
  }

  .slider-button {
    top: 30% !important;
  }

  .our {
    padding: 0;
  }
  .our .our_blog__title {
    margin-bottom: 0 !important;
  }
  .our .our_blog__title h4 {
    font-size: 20px;
  }
  .our .our_blog__h4 {
    font-size: 19px;
    line-height: 20px;
  }
  .our .our_blog__link {
    margin-top: 30px !important;
  }
  .our .our_blog__row {
    flex-direction: column;
  }
  .our .our_blog__row .our_blog__img {
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
  }
  .our .our_blog__row .our_blog__img .our_blog__img-block {
    height: 77px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    align-items: center !important;
  }
  .our .our_blog__row .our_blog__img .our_blog__img-block h4 {
    writing-mode: lr !important;
    transform: inherit !important;
    bottom: inherit !important;
    left: 40px;
  }
  .our .our_blog__row .our_blog__div {
    flex-direction: column;
  }
  .our .our_blog__row .our_blog__div .our_blog__mob-img {
    padding-bottom: 20px;
    height: 50vh;
    min-width: 100%;
  }
  .our .our_blog__row .our_blog__div .our_blog__container {
    padding: 0;
  }

  .photo_blocks__div {
    height: auto !important;
    flex-flow: wrap !important;
    justify-content: space-between;
  }
  .photo_blocks__div .photo_blocks__img {
    width: 32.6% !important;
    margin-top: 15px;
    margin-right: 0 !important;
  }

  .mono_bouquets {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .mono_bouquets .mono_bouquets__img {
    width: 100%;
    padding-bottom: 20px;
  }
  .mono_bouquets .mono_bouquets__text br {
    display: none;
  }
  .mono_bouquets .mono_bouquets__div {
    width: 100%;
  }
  .mono_bouquets .mono_bouquets__inform {
    margin: 20px 0 30px 0 !important;
  }
  .mono_bouquets .mono_bouquets__inform br {
    display: none;
  }
  .mono_bouquets .mono_bouquets__title {
    margin-bottom: 30px !important;
  }

  .gift {
    flex-direction: column-reverse;
  }

  .gift__row {
    margin-top: 0 !important;
  }
  .gift__row .gift__title {
    text-align: center;
  }
  .gift__row .gift__text {
    text-align: center;
    padding: 0 50px;
  }
  .gift__row .gift__right {
    padding: 20px 0 0 0 !important;
    width: 100% !important;
  }
  .gift__row .gift__right .gift_block__link {
    width: 281.21px !important;
    height: 55px !important;
    margin: 0 auto 30px auto;
    text-align: center;
  }
  .gift__row .gift__right .gift_block__link a {
    font-size: 15px !important;
    line-height: 25px !important;
  }
  .gift__row .gift__right .gift__text br {
    display: none;
  }

  .contact__row {
    margin-right: 0 !important;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
  }
  .contact__row .contact__div {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__row .contact__work {
    width: 50%;
    text-align: center;
  }

  .footer .footer__row {
    width: 100% !important;
  }
  .footer .footer__row .footer__text ul {
    margin-top: 15px !important;
  }
  .footer .footer__row .footer__img {
    height: 35px;
  }
  .footer .footer__row .footer__img img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    position: relative;
    display: block;
    height: 100%;
  }
  .footer .footer__row .footer__title h5 {
    line-height: 41px !important;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  h1 {
    font-size: 44px;
    line-height: 78px;
  }

  h3 {
    font-size: 23px;
    line-height: 46px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 16px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 12px;
  }

  .text-2 {
    font-size: 14px;
  }

  .text-3 {
    font-size: 13px;
  }

  .text-4 {
    font-size: 17px;
    line-height: 31px;
  }

  .text-big {
    font-size: 22px;
    line-height: 37px;
  }

  .button__link a {
    font-size: 14px;
    line-height: 23px;
    padding: 8px 20px;
  }

  .catalog_block__link a h5 {
    width: 274px !important;
    height: 48px !important;
  }

  .header .logo {
    margin: 0;
  }
  .header .header__request_phone {
    margin-right: 35px !important;
  }

  .our {
    padding: 0;
  }
  .our .block__title {
    padding: 60px 0 50px 0;
  }
  .our .our_blog__container {
    padding: 20px 30px !important;
  }
  .our .our_blog__link {
    margin-top: 30px !important;
  }
  .our .our_blog__title {
    margin-bottom: 20px !important;
  }
  .our .our_blog .our_blog__mob-img {
    min-width: 300px;
  }
  .our .our_blog__img {
    width: 24%;
  }
  .our .our_blog__h4 {
    font-size: 19px;
    line-height: 20px;
  }

  .order__div {
    margin-bottom: 50px;
    margin-left: 100px !important;
    margin-top: 50px;
  }
  .order__div .order__title br {
    display: none;
  }
  .order__div .order__title {
    margin-bottom: 40px !important;
  }
  .order__div .order__inform {
    margin: 20px 0 30px 0 !important;
  }
  .order__div .order-text br {
    display: none;
  }

  .sales__nav {
    padding-bottom: 40px !important;
  }

  .photo_blocks .photo_blocks__div {
    height: auto !important;
    flex-flow: wrap !important;
    justify-content: space-between;
  }
  .photo_blocks .photo_blocks__div .photo_blocks__img {
    width: 32.6% !important;
    margin-top: 15px;
    margin-right: 0 !important;
  }
  .photo_blocks .photo_blocks__title {
    padding: 65px 0 60px 0;
  }

  .gift__right {
    padding: 60px 0 60px 80px !important;
  }
  .gift__right .gift_block__link {
    width: 281.21px !important;
    height: 55px !important;
  }
  .gift__right .gift_block__link a {
    font-size: 15px !important;
    line-height: 25px !important;
  }
  .gift__right .gift__text br {
    display: none;
  }

  .mono_bouquets .mono_bouquets__text p br {
    display: none;
  }
  .mono_bouquets .mono_bouquets__inform p br {
    display: none;
  }
  .mono_bouquets .mono_bouquets__inform {
    margin: 20px 0 30px 0 !important;
  }
  .mono_bouquets .mono_bouquets__title {
    margin-bottom: 30px !important;
  }

  .contact__img img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    position: relative;
    display: block;
    height: 100%;
  }

  .footer__row {
    width: 100% !important;
  }
}
@media (max-width: 1250px) and (min-width: 1200px) {
  h1 {
    font-size: 50px;
    line-height: 86px;
  }

  h3 {
    font-size: 23px;
    line-height: 46px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 19px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 14px;
  }

  .text-2 {
    font-size: 16px;
  }

  .text-4 {
    font-size: 21px;
    line-height: 32px;
  }

  .text-big {
    font-size: 24px;
    line-height: 38px;
  }

  .button__link a {
    font-size: 18px;
    line-height: 30px;
    padding: 9px 30px;
  }

  .catalog_block__link a h5 {
    width: 317px !important;
    height: 53px !important;
  }

  .our {
    padding: 0;
  }
  .our .our_blog__container {
    padding: 60px 45px 60px 45px !important;
  }
  .our .block__title {
    padding: 60px 0 50px 0;
  }
  .our .our_blog__img {
    width: 15.8%;
  }
  .our .our_blog__h4 {
    font-size: 19px;
    line-height: 20px;
  }

  .order__div {
    margin-bottom: 50px;
    margin-left: 150px;
    margin-top: 50px;
  }
  .order__div .order__title br {
    display: none;
  }
  .order__div .order__title {
    margin-bottom: 40px !important;
  }

  .sales__nav {
    padding-bottom: 45px !important;
  }

  .photo_blocks .photo_blocks__div {
    height: auto !important;
    flex-flow: wrap !important;
    justify-content: space-between;
  }
  .photo_blocks .photo_blocks__div .photo_blocks__img {
    width: 32.6% !important;
    margin-top: 15px;
    margin-right: 0 !important;
  }
  .photo_blocks .photo_blocks__title {
    padding: 80px 0 80px 0;
  }

  .gift__right {
    padding: 70px 0 70px 110px !important;
  }
  .gift__right .gift_block__link {
    width: 281.21px !important;
    height: 55px !important;
  }
  .gift__right .gift_block__link a {
    font-size: 15px !important;
    line-height: 25px !important;
  }
  .gift__right .gift__text br {
    display: none;
  }

  .contact__img img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    position: relative;
    display: block;
    height: 100%;
  }

  .footer__row {
    width: 100% !important;
  }
}
@media (max-width: 1499px) and (min-width: 1251px) {
  h1 {
    font-size: 54px;
    line-height: 87px;
  }

  h3 {
    font-size: 25px;
    line-height: 46px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 19px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 14px;
  }

  .text-2 {
    font-size: 16px;
  }

  .text-4 {
    font-size: 21px;
    line-height: 32px;
  }

  .text-big {
    font-size: 24px;
    line-height: 38px;
  }

  .button__link a {
    font-size: 18px;
    line-height: 30px;
    padding: 9px 30px;
  }

  .order__div {
    margin-bottom: 50px;
    margin-left: 150px;
    margin-top: 50px;
  }
  .order__div .order__title br {
    display: none;
  }
  .order__div .order__title {
    margin-bottom: 40px !important;
  }

  .sales__nav {
    padding-bottom: 50px !important;
  }

  .our {
    padding: 0;
  }
  .our .our_blog__container {
    padding: 100px 70px 100px 70px !important;
  }
  .our .block__title {
    padding: 60px 0 40px 0;
  }
  .our .our_blog__img {
    width: 16%;
  }
  .our .our_blog__h4 {
    font-size: 19px;
    line-height: 20px;
  }

  .photo_blocks .photo_blocks__title {
    padding: 90px 0 90px 0;
  }
  .photo_blocks .photo_blocks__div {
    height: auto !important;
    flex-flow: wrap !important;
    justify-content: space-between;
  }
  .photo_blocks .photo_blocks__div .photo_blocks__img {
    width: 32.6% !important;
    margin-top: 15px;
    margin-right: 0 !important;
  }

  .catalog_block__link a h5 {
    width: 317px !important;
    height: 53px !important;
  }

  .gift__row .gift_block__link {
    width: 281.21px !important;
    height: 55px !important;
  }
  .gift__row .gift_block__link a {
    font-size: 18px !important;
    line-height: 30px !important;
  }
  .gift__row .gift__text br {
    display: none;
  }

  .contact__img img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    position: relative;
    display: block;
    height: 100%;
  }
}
@media (max-width: 1605px) and (min-width: 1500px) {
  h1 {
    font-size: 56px;
    line-height: 90px;
  }

  h3 {
    font-size: 29px;
    line-height: 50px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 19px;
    line-height: 31px;
  }

  h6 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 14px;
  }

  .text-2 {
    font-size: 16px;
  }

  .text-4 {
    font-size: 21px;
    line-height: 32px;
  }

  .text-big {
    font-size: 22px;
    line-height: 35px;
  }

  .our {
    padding: 0;
  }
  .our .our_blog__img {
    width: 295px;
  }
  .our .block__title {
    padding: 90px 0 60px 0;
  }

  .sales__nav {
    padding-bottom: 55px !important;
  }

  .photo_blocks .photo_blocks__title {
    padding: 100px 0 100px 0;
  }
  .photo_blocks .photo_blocks__div {
    height: auto !important;
    flex-flow: wrap !important;
    justify-content: space-between;
  }
  .photo_blocks .photo_blocks__div .photo_blocks__img {
    width: 32.6% !important;
    margin-top: 15px;
    margin-right: 0 !important;
  }

  .gift__text br {
    display: none;
  }

  .catalog_block__link a h5 {
    width: 317px !important;
    height: 53px !important;
  }

  .contact__img img {
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    position: relative;
    display: block;
    height: 100%;
  }
}

/*# sourceMappingURL=media.css.map */
