@import './style';

.mono_bouquets {
  padding: $top-default 0 0 0;
  display: flex;
  order: 1;
  flex-wrap: wrap;

  .button__link {
    a {
      font-family: 'History Pro';
      width: 216px;
      letter-spacing: 0.139em;
    }
  }

  .mono_bouquets__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 59%;

    .mono_bouquets__title {
      margin: 2px 0 61px 5px;
    }

    .mono_bouquets__text {
      @include style-text(23px, 37px, unset, 'Open Sans', 300);
    }

    .mono_bouquets__inform {
      margin: 40px 0 60px 0;
      color: $grey4;

      @include style-text(18px, 29px, unset, 'Open Sans', 300);
    }
  }

  .mono_bouquets__img {
    display: flex;
    justify-content: flex-end;
    width: 41%;

    img {
      @include img-wrap();
    }
  }
}
