@import '../scss/style';

.order {
  padding:  $top-default 0 0 0;
  overflow: hidden;
  display: flex;
  img {
    @include img-wrap()
  }

  .order__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-left: 150px;

    .order__title {
      margin-bottom: 60px;
    }
    .order-text {
      color: $dark-1;

      @include style-text(23px, 37px, unset, 'Open Sans', 300);
    }

    .order__inform {
      margin: 40px 0 60px 0;
      color: $grey4;

      @include style-text(18px, 29px, unset, 'Open Sans', 300);
    }
  }

  .button__link a {
    width: 229px;
    font-family: 'History Pro';
  }
}
