.our {
  background: #FAFAFA;
  margin-top: 110px;
  padding-bottom: 110px;
}
.our img {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  display: block;
  height: 100%;
}
.our .our_blog {
  padding: 0;
}
.our .our_blog .our_blog__mob-img {
  min-width: 390px;
}
.our .our_blog .our_blog__mob-img img {
  width: 100%;
}
.our .our_blog .our_blog__img {
  display: flex;
  justify-content: flex-end;
  height: 640px;
  width: 100%;
}
.our .our_blog .our_blog__img .our_blog__img-block {
  position: relative;
  display: flex;
  width: 130px;
  justify-content: center;
  overflow: hidden;
  transition: all .4s linear;
}
.our .our_blog .our_blog__img .our_blog__img-block .our_blog__decorate-first {
  background: url("./../../img/our_block/2.png");
}
.our .our_blog .our_blog__img .our_blog__img-block .our_blog__decorate-second {
  background: url("./../../img/our_block/3.png");
}
.our .our_blog .our_blog__img .our_blog__img-block .our_blog__decorate-third {
  background: url("./../../img/our_block/4.png");
}
.our .our_blog .our_blog__img .our_blog__img-block .our_blog__decorate {
  background-size: cover;
  display: flex;
  width: 130px;
  padding-bottom: 40px;
  position: absolute;
  left: 0;
  background-size: cover;
  background-position: center;
  height: 100%;
  cursor: pointer;
}
.our .our_blog .our_blog__img .our_blog__img-block .our_blog__decorate img {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  display: block;
}
.our .our_blog .our_blog__img .our_blog__img-block .our_blog__h4 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: white;
  position: relative;
  width: 100%;
  text-align: left;
  line-height: 140px;
}
.our .our_blog .our_blog__img .our_blog__img-block.active {
  width: calc(100% - 260px);
  transition: all .4s linear;
}
.our .our_blog .our_blog__img .our_blog__img-block.active .our_blog__div-content {
  opacity: 1;
  transition: all .4s linear;
}
.our .our_blog .our_blog__img .our_blog__img-block.active .our_blog__decorate {
  right: 0;
  display: none;
  left: unset;
}
.our .our_blog .our_blog__row {
  display: flex;
  justify-content: space-between;
  background: white;
}
.our .our_blog .our_blog__div-content {
  display: block;
  opacity: 0;
  transition: all .4s linear;
}
.our .our_blog .our_blog__div-content .our_blog__div {
  display: flex;
  flex: 1;
  transition: 0.5s all unset;
}
.our .our_blog .our_blog__div-content .our_blog__div .our_blog__container {
  padding: 110px 150px 110px 150px;
  height: 640px;
}
.our .our_blog .our_blog__div-content .our_blog__div .our_blog__container .our_blog__text {
  margin-top: 30px;
  color: #999999;
}
.our .our_blog .our_blog__div-content .our_blog__div .our_blog__container .our_blog__link {
  margin-top: 60px;
}
.our .our_blog .our_blog__div-content .our_blog__div .our_blog__container .our_blog__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #A91D20;
  border-bottom: 1px solid #A91D20;
  width: 196px;
}
.our .our_blog .our_blog__div-content .our_blog__div .our_blog__container .our_blog__title {
  margin-bottom: 40px;
}
.our .our_blog .our_blog__div-content .our_blog__div .our_blog__container .our_blog__title h4 {
  color: #234612;
}

/*# sourceMappingURL=our-blog.css.map */
