@import './style';

.our {
  background: $bgWhite;
  padding-bottom: $top-default;

    img {
      box-sizing: border-box;
      object-fit: cover;
      position: relative;
      display: block;
      height: 100%;
    }

  .our_blog {
    padding: 0;
    margin-top: $top-default;

    .our_blog__mob-img {
      min-width: 390px;

      img {
        @include img-wrap(100%, 100%);
      }
    }

    .our_blog__img {
      display: flex;
      justify-content: flex-end;
      height: 640px;
      width: 100%;

      .our_blog__img-block {
        position: relative;
        display: flex;
        width: 130px;
        justify-content: center;
        overflow: hidden;
        transition: all .4s linear;

        .our_blog__decorate-first {
          background: url("./../../img/our_block/2.png");
        }
        .our_blog__decorate-second {
          background: url("./../../img/our_block/3.png");
        }
        .our_blog__decorate-third {
          background: url("./../../img/our_block/4.png");
        }

        .our_blog__decorate {
          background-size: cover;
          display: flex;
          width: 130px;
          padding-bottom: 40px;
          position: absolute;
          left: 0;
          background-position: center;
          height: 100%;
          cursor: pointer;
        }

        .our_blog__h4 {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          color: white;
          position: relative;
          width: 100%;
          text-align: left;
          line-height: 140px;
        }
      }
      .our_blog__img-block.active {
        width: calc(100% - 388px);
        transition: all .4s linear;

        .our_blog__content {
          opacity: 1;
          transition: all .4s linear;
        }

        .our_blog__decorate {
          right: 0;
          display: none;
          left: unset;
        }
      }
    }

    .our_blog__row {
      display: flex;
      justify-content: space-between;
      background: white;
    }

    .our_blog__content {
      display: block;
      opacity: 0;
      transition: all .4s linear;

      .our_blog__wrap {
        display: flex;
        flex: 1;
        transition: 0.5s all unset;

        .our_blog__container {
          padding: 110px 150px 110px 150px;
          height: 640px;

          .our_blog__text {
            margin-top: 30px;
            color: $grey4;

            @include style-text(16px, 26px, unset, 'Open Sans', 300);
          }

          .our_blog__p {
            @include style-text(20px, 32px, unset, 'Open Sans', 300);
          }

          .our_blog__link {
            margin-top: 60px;

            a {
              text-decoration: none;
              text-transform: uppercase;
              color: $secondary-color;
              border-bottom: 1px solid $secondary-color;
              width: 196px;
              padding-bottom: 9px;

              @include style-text(16px, 26px, 0.1em);
            }
          }

          .our_blog__title {
            margin-bottom: 40px;

            h4 {
              color: #234612;
            }
          }
        }
      }
    }
  }
}

