body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
  margin: 0 auto;
}

.container-bg {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1605px;
  }

  .container-bg {
    max-width: 1860px;
  }
}
@media (max-width: 539px) and (min-width: 200px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 767.99px) and (min-width: 540px) {
  .container {
    max-width: 85%;
  }
}
@media (max-width: 991.99px) and (min-width: 768px) {
  .container {
    max-width: 85%;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 1250px) and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1299px) and (min-width: 1251px) {
  .container {
    max-width: 1053px;
  }
}
@media (max-width: 1348px) and (min-width: 1300px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 1499px) and (min-width: 1349px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 1604.99px) and (min-width: 1500px) {
  .container {
    max-width: 1295px;
  }
}
@media (max-width: 1639px) and (min-width: 1605px) {
  .container {
    max-width: 1400px;
  }

  .container-bg {
    max-width: 1560px;
  }
}
@media (max-width: 1799px) and (min-width: 1640px) {
  .container {
    max-width: 1500px;
  }

  .container-bg {
    max-width: 1590px;
  }
}
@media (max-width: 1919px) and (min-width: 1800px) {
  .container {
    max-width: 1650px;
  }

  .container-bg {
    max-width: 1760px;
  }
}
@media (max-width: 991px) {
  .our .our_blog .our_blog__img .our_blog__img-block .our_blog__decorate-first {
    background: url("./../../img/our_block/photo-big.png");
    background-size: cover;
    background-position: center;
  }
  .our .our_blog .our_blog__img .our_blog__img-block .our_blog__decorate-second {
    background: url("./../../img/our_block/photo-big.png");
    background-size: cover;
    background-position: center;
  }
  .our .our_blog .our_blog__img .our_blog__img-block .our_blog__decorate-third {
    background: url("./../../img/our_block/photo-big.png");
    background-size: cover;
    background-position: center;
  }
}
h1 {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-family: "History Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 102px;
  letter-spacing: 0.1em;
}

h3 {
  text-transform: uppercase;
  margin: 0;
  color: #234612;
  font-family: "History Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 61px;
  letter-spacing: 0.1em;
}

h4 {
  margin: 0;
  font-family: "History Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0.1em;
}

h5 {
  margin: 0;
  font-family: "History Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 34px;
  letter-spacing: 0.1em;
}

h6 {
  font-family: "History Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.button__link a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  padding: 11px 41px;
  width: fit-content;
  font-size: 21px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #A91D20;
  text-transform: uppercase;
  border: 1px solid #A91D20;
  border-radius: 0;
  display: block;
}

.block__title {
  display: flex;
  justify-content: center;
  padding: 110px 0 80px 0;
}
.block__title h3 {
  border-bottom: 2px solid #234612;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 6px;
}
.block__title h3:after {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto;
  bottom: -21px;
  height: 1px;
  width: 73%;
  background: #234612;
}

a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
